---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
          {% if post.alert %}<i class="fa fa-chain-broken"></i>{% endif %}
          {{ post.title }}
      </a>
    </h1>

    <p><i>{{ post.summary }}</i></p>

    <span class="post-date">{{ post.date | date_to_string }} by {{ post.author }}</span>
      {% if post.alert %}
      <span class="post-alert">{{ post.alert }}</span>
      {% endif %}
  </div>
    <hr />
  {% endfor %}
</div>

<a class="twitter-timeline" href="https://twitter.com/dashboardhub" data-widget-id="604558758258307072">Tweets by @dashboardhub</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
