/*
  _____            _     _                         _   _    _       _
 |  __ \          | |   | |                       | | | |  | |     | |
 | |  | | __ _ ___| |__ | |__   ___   __ _ _ __ __| | | |__| |_   _| |__
 | |  | |/ _` / __| '_ \| '_ \ / _ \ / _` | '__/ _` | |  __  | | | | '_ \
 | |__| | (_| \__ \ | | | |_) | (_) | (_| | | | (_| | | |  | | |_| | |_) |
 |_____/ \__,_|___/_| |_|_.__/ \___/ \__,_|_|  \__,_| |_|  |_|\__,_|_.__/

*/

.share-page {
    text-align: center;
    background: #202020;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5em;
}

.share-page a {
    font-weight: 700;
    color: #fff;
    margin-left: 10px;
}

.share-page a:hover {
     border-bottom: 1px dashed #fff;
 }

.post {
    margin-bottom: 2em;
}

p {
    font-size: 18px;
}

h1.post-title {
    font-size: 1.5rem;
}

h1.post-title i.fa-chain-broken {
    color: #ff6600;
}

span.post-alert {
    color: #ff6600;
    font-size: small;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
}

.related-posts h3 {
    font-size: 1rem;
}

.content img {
    border: 1px solid #ccc;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}

.alert {
    text-align: center;
    font-size: larger;
    border: 1px solid #ff6600;
    color: #ff6600;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ffad76;
}
